body{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(4, 5, 61);
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

input{
    font-size: 25px;
    font-style: oblique;
    
}

